.marketing{
    padding-top:30px;
    font-family: var(--font-family);
    box-sizing: border-box;
}
.marketingTop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.marketingHeading{
    font-weight: 600;
    color:var(--min-bg);
    font-size: 30px;
}
.marketingHead-normalText{
    padding-top: 6px;
    width: 500px;
    height: 51px;
    font-size: 15px;
    font-weight: 400;
    color:var(--mintext-bg);
    text-align: center;
}
.marketingBottom{
    margin-top: 40px;
    width: 100%;
    height: 300px;
    padding: 15px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 600px){
    .marketing{
        height: auto;
    }
    .marketingHeading{
        font-size: 22px; 
        margin-bottom: 5px;   
    }
    .marketingHead-normalText{
        font-size: 13px;
        width: 85%;
    }
    .marketingBottom{
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        height: auto;
    }
}
@media only screen and (max-width:768px){
    .marketingBottom{
        margin-top: 3rem;
        display: grid;
        gap: 40px;
        height: max-content;
    }
}