.helping {
  display: flex;
  width: 100%;
  height: 40vh;
  background-color: var(--silver-bg);
  align-items: center;
}
.helping-left {
  margin-left: 200px;
  width: auto;
  height: auto;
  line-height: 30.6px;
}
.helping-left-heading {
  font-weight: 600;
  font-size: 25.06px;
}
.helping-left-heading span {
  color: var(--color-green);
}
.helping-left-text {
  font-weight: 400;
  font-size: 14.5px;
}
.helping-right {
  display: grid;
  grid-template-columns: auto auto;
  width: 375.88px;
  height: auto;
  margin-left: 50px;
}
@media only screen and (max-width: 600px) {
  .helping {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
  }
  .helping-left-heading {
    font-size: 20px;
    flex-wrap: nowrap;
    width: auto;
    margin-bottom: 10px;
    margin-left: -15%;
  }
  .helping-left-text {
    width: auto;
    margin-left: -25%;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .helping-right{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
}
