.community{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community-heading{
    font-weight: 600;
    font-size: 25px;
    color:#3a3a3a;
    text-shadow: 2px 3px 4px var(--mintext-bg);
    word-spacing: 4px;
}
.middletext{
    font-weight: 600;
    font-size: 25px;
    color:#3a3a3a;
    word-spacing: 4px;
    text-shadow: 2px 3px 4px var(--mintext-bg);
}
.community-subtext{
    margin-top: 2px;
    font-weight: 400;
    color: #717171;
    text-shadow: 2px 4px 5px ;
}
.boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}