.customers{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 280px;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--silver-bg);
}
.customers-left img{
    width: 227px;
    height: 227px;
    margin-left: 180px;
    border-radius: 10px;
}
.customers-right{
    margin-left: 60px;
    margin-right: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.customers-right-text{
    margin-top: -70px;
}
.customers-right-text p{
    font-weight:500;
    font-size: 13px;
    color:var(--min-bg);
    text-align: justify;
}
.customers-right-head{
    margin-top: 10px;
    margin-bottom: 10px;
}
.customers-right-head p{
    font-weight: 600;
    font-size: 14px;
    color:var(--color-green);
}
.customers-right-head-text p{
    font-weight:400;
    font-size: 12px;
    color: var(--min-bg);
}
.customers-right-vendors{
    display: flex;
    align-items: center;
}
.customers-right-vendors img{
    height: 50px;
    margin-top: 15px;
    padding-right: 10px;  
}
.customers-right-vendors a{
    color:var(--color-green);
    text-decoration: none;
    margin-top: 15px;
    margin-left: 20px;
}
.customers-right-vendors span{
    margin-left:4px ;
    
}