.customers{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50vh;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--silver-bg);
}
.customers-left img{
    width: 227px;
    height: 227px;
    border-radius: 10px;
}
.customers-right{
    margin-left: 60px;
    margin-right: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.customers-right-text{
    margin-top: -70px;
}
.customers-right-text p{
    font-weight:500;
    font-size: 13px;
    color:var(--min-bg);
    text-align: justify;
}
.customers-right-head{
    margin-top: 10px;
    margin-bottom: 10px;
}
.customers-right-head p{
    font-weight: 600;
    font-size: 14px;
    color:var(--color-green);
}
.customers-right-head-text p{
    font-weight:400;
    font-size: 12px;
    color: var(--min-bg);
}
.customers-right-vendors{
    display: flex;
    align-items: center;
}
.customers-right-vendors img{
    height: 50px;
    margin-top: 15px;
    padding-right: 10px;  
}
.customers-right-vendors a{
    color:var(--color-green);
    text-decoration: none;
    margin-top: 15px;
    margin-left: 20px;
}
.customers-right-vendors span{
    margin-left:4px ;
    
}

@media only screen and (max-width: 600px){
    .customers{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
    .customers-left img{
        width: auto;
        height: 250px;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .customers-right{
        width: 80%;
        margin: 0px;
    }
    .customers-right-text>p{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .customers-right-vendors img{
        width: 60px;
        height: 40px;
    }
    .customers-right-vendors{
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:768px){
    .customers{
        display: flex;
        flex-direction: column;
    }
    .customers-left{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .customers-right{
        margin-top: 8rem;
        width: 100vw;
        padding: 0px 80px;
        margin-left: 10rem;
    }
}