.helping-component-container{
    display: flex;
    width: 180px;
    height: 43px;
    margin-left: 80px;
    justify-content: left;
    color:#4d4d4d;
}
.helping-component-container-right{
    margin-left: 20px;
}

.helping-component-container-text{
    font-weight:400;
    color:var(--mintext-bg);
    font-size: 11px;
}
.helping-component-container-count{
    font-weight: 700;
    font-size: 20px;
}
.helping-component-container-left img{
    width: 45px;
    height: 40px;

}
