.clients {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-family);
  margin-top: 30px;
}
.heading {
  font-weight: 600;
  font-size: 25px;
  color: #3a3a3a;
  text-shadow: 2px 3px 4px var(--mintext-bg);
  word-spacing: 4px;
}
.subtext {
  font-weight: 300;
  margin-top: 10px;
  color: var(--mintext-bg);
  text-shadow: 2px 3px 5px #717171;
}
.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
img {
  height: 35px;
}



/*responsiveness */
@media only screen and (max-width: 600px) {
  .heading {
    font-weight: 600;
    font-size: 25px;
    color: #3a3a3a;
    text-shadow: 2px 3px 4px var(--mintext-bg);
    word-spacing: 4px;
  }
  .subtext {
    font-weight: 300;
    margin-top: 12px;
    color: var(--mintext-bg);
    text-shadow: 2px 3px 5px #717171;
    font-size: 10px;
  }
  .logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  img {
    height: 25px;
  }
}
