body{
    padding-top: 10px;
    font-family: var(--font-family);
}

.logo{
    margin-left: 100px;
}
.logo h2{
    color:#263238;
}
.navbar{
    display: flex;
    width: auto;
}
.items{
    display: flex;
    margin-left: 23rem;
}
.navbar-items{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.navbar-items li a{
    color: var(--mintext-bg);
    text-decoration: none;

}
li{
    list-style: none;
    margin-left: 30px;
}
.register{
    margin-left: 30px;
    height: 35px;
    width:150px;
    border-radius: 3px;
    border: none;
    color:#fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: var(--color-green);
    display:inline-block;
    cursor: pointer;
}
.menu-toggle{
    width: 40px;
    height: 35px;
    margin-left: 10px;
    display: none;
}
@media only screen and (max-width: 600px) {
    .navbar{
        width:auto;
    }
  .navbar-items{
    display: none;
  }
  .register{
    display: none;
  }
  .logo{
    margin-left: 20%;
  }
}


