* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}
button {
  height: 35px;
  width: 120px;
  background-color: var(--color-green);
}
button :hover {
  cursor: pointer;
  box-shadow: 1px 1px 16px var(--color-green);
}
section{
  scroll-behavior: smooth;
}
@media only screen and (max-width: 600px){
  section{
    width:100vw;
    overflow: visible;
    overflow-x: hidden;
  }
}